In [1]:
import pandas as pd
import os
import time
import utils

import numpy as np

from sklearn import linear_model
from sklearn import tree
from sklearn import neighbors
from sklearn import naive_bayes
from sklearn import svm
from sklearn import ensemble

from sklearn import model_selection as ms
from sklearn import metrics

In [9]:
DATA_DIR = "data/"
DATA_FILE_TRAIN = os.path.join(DATA_DIR, "bow6/train_bow.csv")
DATA_FILE_TEST = os.path.join(DATA_DIR, "bowfinal6/test_bow.csv")

In [10]:
df = utils.csv_to_dataframe(DATA_FILE_TRAIN)

c = len(df.columns)

print(len(df.columns))
print(len(df.index))
df.head(3)

2524
7613

,kw_ablaze,kw_accident,kw_aftershock,kw_airplaneaccident,kw_ambulance,kw_annihilated,kw_annihilation,kw_apocalypse,kw_armageddon,kw_army,...,youtub,youûªv,yr,zombi,zone,û,ûïwhen,ûò,ûó,target.1
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
column_labels = list(range(0, c))
df.columns = column_labels
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [12]:
array = df.values
x = array[:,0:c-1]   # feature values
y = array[:,c-1]     # targets

#validation_size = 0.0000001
#seed = 11
#x_train, x_validation, y_train, y_validation = ms.train_test_split(x, y, test_size=validation_size, random_state=seed)

x_train = x
y_train = y

print(x.shape)
print(y.shape)
print('')
print(x_train.shape)
#print(x_validation.shape)
print('')
print(y_train.shape)
#print(y_validation.shape)

print(type(x_train))
print(type(y_train))

(7613, 2523)
(7613,)

(7613, 2523)

(7613,)
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

### **ALGORITHMS**

In [13]:
# all using default hyperparameters

models =[]
models.append(('LogReg', linear_model.LogisticRegression(solver='liblinear')))
models.append(('GaussNB', naive_bayes.GaussianNB()))
#models.append(('KNN', neighbors.KNeighborsClassifier()))
#models.append(('CART', tree.DecisionTreeClassifier()))
#models.append(('SVM', svm.SVC(gamma='auto')))

#ensembles =[]
#ensembles.append(('RandomF100', ensemble.RandomForestClassifier(n_estimators=100)))
#ensembles.append(('RandomF200', ensemble.RandomForestClassifier(n_estimators=200)))
#ensembles.append(('AdaBoost', ensemble.AdaBoostClassifier()))
#ensembles.append(('GradBoost', ensemble.GradientBoostingClassifier()))

In [14]:
num_folds = 5
seed = 11
scoring = 'accuracy'

results = []
names = []

In [15]:
for name, model in models:
    start = time.time()
    kfold = ms.KFold(n_splits=num_folds, random_state=seed, shuffle=True)
    cv_results = ms.cross_val_score(model, x_train, y_train, cv=kfold, scoring=scoring)
    elapsed_time = time.time() - start
    
    results.append(cv_results)
    names.append(name)
    
    # print name, mean accuracy, standard deviation of accuracy, time taken
    print(f'{name}: \t {cv_results.mean()} \t {cv_results.std()} \t {elapsed_time}')

LogReg: 	 0.7977138109219735 	 0.007283965030109846 	 1.28202486038208
GaussNB: 	 0.7820821861548245 	 0.007861025134778082 	 1.6394321918487549

bow6
LogReg: 	 0.7977138109219735 	 0.007283965030109846 	 1.1101605892181396
GaussNB: 	 0.7820821861548245 	 0.007861025134778082 	 1.841505765914917

bow10
LogReg: 	 0.7982390899764711 	 0.005339143838282673 	 0.8717188835144043
GaussNB: 	 0.7719687524536175 	 0.013690559557808022 	 1.4119153022766113

bow50
LogReg: 	 0.7807700238912239 	 0.005538291987429142 	 0.5550551414489746
GaussNB: 	 0.7421520047834217 	 0.00834455698629672 	 0.5348217487335205

bow4 **
LogReg: 	 0.8009981855094421 	 0.006866004452814523 	 1.368298053741455
GaussNB: 	 0.7072093859981381 	 0.017961066111177867 	 2.411426544189453

bow2
LogReg: 	 0.7990284753361294 	 0.007252591953712569 	 2.026190996170044
GaussNB: 	 0.6228830296384047 	 0.005454335183705051 	 3.5228970050811768

In [43]:
#model_logreg = linear_model.LogisticRegression(solver='liblinear')
model_logreg = linear_model.LogisticRegression(C=3.5)
model_logreg.fit(x_train, y_train)

#predictions = model_logreg.predict(x_validation)
predictions = model_logreg.predict(x_train)


score = metrics.accuracy_score(y_train, predictions)
matrix = metrics.confusion_matrix(y_train, predictions)
report = metrics.classification_report(y_train, predictions)

#score = metrics.accuracy_score(y_validation, predictions)
#matrix = metrics.confusion_matrix(y_validation, predictions)
#report = metrics.classification_report(y_validation, predictions)

print('Logistic Regression')
print(score)
print(matrix)
print(report)

Logistic Regression
0.8866412715092604
[[4055  287]
 [ 576 2695]]
              precision    recall  f1-score   support

           0       0.88      0.93      0.90      4342
           1       0.90      0.82      0.86      3271

    accuracy                           0.89      7613
   macro avg       0.89      0.88      0.88      7613
weighted avg       0.89      0.89      0.89      7613

### **KAGGLE TEST SET**

In [106]:
df_test = utils.csv_to_dataframe(DATA_FILE_TEST)
df_test.head(3)

,kw_ablaze,kw_accident,kw_aftershock,kw_airplaneaccident,kw_ambulance,kw_annihilated,kw_annihilation,kw_apocalypse,kw_armageddon,kw_army,...,york,young,youth,youtub,yr,zone,û,ûïwhen,ûò,ûó
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [107]:
column_labels = list(range(0, c-1))
df_test.columns = column_labels
df_test.head(3)

,0,1,2,3,4,5,6,7,8,9,...,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [108]:
array_test = df_test.values
x_test = array_test[:,0:c]   # feature values
print(type(x_test))
print(x_test.shape)

<class 'numpy.ndarray'>
(3263, 1830)

### **OTHER ALGORITHM PREDICTIONS**

In [109]:
predictions = model_logreg.predict(x_test)
predictions_list = np.array(predictions).tolist()

print(type(predictions_list))
print(len(predictions_list))
print(predictions_list[0:10])

<class 'list'>
3263
[1, 1, 1, 0, 1, 1, 0, 0, 0, 0]

### **PREPARE SUBMISSION FILE**

In [110]:
DATA_FILE_TEST_ID = os.path.join(DATA_DIR, "test_id.csv")

test_id_list = utils.csv_to_list_of_strings(DATA_FILE_TEST_ID)

print(len(test_id_list))
print(test_id_list[0:10])

3263
['0', '2', '3', '9', '11', '12', '21', '22', '27', '29']

In [111]:
df_test_id = utils.csv_to_dataframe(DATA_FILE_TEST_ID)
df_test_id.shape

(3263, 1)

In [112]:
#predictions_list = predict_xgb_round

df_test_predict = pd.DataFrame({'col':predictions_list})
df_test_predict.columns = ['target']
df_test_predict.shape

(3263, 1)

In [113]:
df_submit = pd.concat([df_test_id, df_test_predict], axis=1)
df_submit.head(10)

   id  target
0   0       1
1   2       1
2   3       1
3   9       0
4  11       1
5  12       1
6  21       0
7  22       0
8  27       0
9  29       0

In [114]:
DATA_FILE_SUBMIT = os.path.join(DATA_DIR, "submission.csv")

utils.dataframe_to_csv(df_submit, DATA_FILE_SUBMIT)

RandomF50: 	 0.7746313123789662 	 0.011388966190803968 	 130.13347244262695
RandomF100: 	 0.7797399502032303 	 0.01428373432017802 	 260.8899493217468
AdaBoost: 	 0.7486493158264349 	 0.01133382416557457 	 134.66269183158875
GradBoost: 	 0.74427060500947 	 0.008930998006848264 	 511.60365176200867

LogReg: 	 0.7966734055457427 	 0.014564111747014111 	 1.946577548980713
CART: 	 0.7349288161562852 	 0.01585338019541941 	 227.68402552604675
KNN: 	 0.7296752569640994 	 0.010723464340408816 	 190.6845679283142
GaussNB: 	 0.7050103211253219 	 0.017478735938505296 	 3.0175342559814453
SVM: 	 0.5698452895235258 	 0.019930333240389574 	 1356.988641500473

Random Forest (100 trees)
0.7690288713910761
[[350  88]
 [ 88 236]]
              precision    recall  f1-score   support

           0       0.80      0.80      0.80       438
           1       0.73      0.73      0.73       324

    accuracy                           0.77       762
   macro avg       0.76      0.76      0.76       762
weighted avg       0.77      0.77      0.77       762


Logistic Regression
0.8070866141732284
[[370  68]
 [ 79 245]]
              precision    recall  f1-score   support

           0       0.82      0.84      0.83       438
           1       0.78      0.76      0.77       324

    accuracy                           0.81       762
   macro avg       0.80      0.80      0.80       762
weighted avg       0.81      0.81      0.81       762