import numpy as np

In [1]:
import time
import os
import pandas as pd

from sklearn import model_selection
from sklearn import metrics

from xgboost import XGBClassifier

import matplotlib
from matplotlib import pyplot
matplotlib.use('Agg')

import utils

In [5]:
DATA_DIR = "data/"
DATA_FILE_TRAIN = os.path.join(DATA_DIR, "bow6_less_kw/train_bow.csv")
DATA_FILE_TEST = os.path.join(DATA_DIR, "bowfinal0/test_bow.csv")

In [6]:
df_train = pd.read_csv(DATA_FILE_TRAIN)
c = len(df_train.columns)

array_train = df_train.values       # np array

In [7]:
df_train.head(3)

,kw_ablaz,kw_accid,kw_aftershock,kw_airplaneaccid,kw_ambul,kw_annihil,kw_apocalyps,kw_armageddon,kw_armi,kw_arson,...,youtub,youûªv,yr,zombi,zone,û,ûïwhen,ûò,ûó,target.1
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [8]:
print(array_train)
print(type(array_train))

array_train.shape

[[0 0 0 ... 0 0 1]
 [0 0 0 ... 0 0 1]
 [0 0 0 ... 0 0 1]
 ...
 [0 0 0 ... 0 0 1]
 [0 0 0 ... 0 0 1]
 [0 0 0 ... 0 0 1]]
<class 'numpy.ndarray'>

(7613, 2468)

In [9]:
x = array_train[:,0:c-1]   # feature values
y = array_train[:,c-1]     # targets

x_train = x
y_train = y

print(x.shape)
print(y.shape)
print('')
print(x_train.shape)
print(y_train.shape)
print('')
print(x_train)
print(y_train)

(7613, 2467)
(7613,)

(7613, 2467)
(7613,)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
[1 1 1 ... 1 1 1]

df = utils.csv_to_dataframe(DATA_FILE_TRAIN)
c = len(df.columns)

print(len(df.columns))
print(len(df.index))
df.head(3)    

column_labels = list(range(0, c))
df.columns = column_labels
df.head(3)

### **XGBoost**

In [10]:
num_folds = 5
seed = 11
scoring = 'accuracy'

model_xgb = XGBClassifier(colsample_bylevel=0.5, 
                          colsample_bytree=0.5, 
                          gamma=0, 
                          learning_rate=0.09, 
                          max_depth=8, 
                          min_child_weight=1.0, 
                          n_estimators=500, 
                          subsample=1)

#results = []
#names = []

In [11]:
start = time.time()
kfold = model_selection.KFold(n_splits=num_folds, random_state=seed, shuffle=True)
cv_results = model_selection.cross_val_score(model_xgb, x_train, y_train, cv=kfold, scoring=scoring)
elapsed_time = time.time() - start
    
#results.append(cv_results)
#names.append(name)
    
# print name, mean accuracy, standard deviation of accuracy, time taken
print(f'Accuracy (mean, std): \t {cv_results.mean()} \t {cv_results.std()} \t Time: {elapsed_time}')

Accuracy (mean, std): 	 0.7973192476637248 	 0.006967339520531227 	 Time: 90.09188580513

model_xgb = XGBClassifier(colsample_bylevel=0.5, 
                          colsample_bytree=0.5, 
                          gamma=0, 
                          learning_rate=0.09, 
                          max_depth=8, 
                          min_child_weight=1.0, 
                          n_estimators=500, 
                          subsample=1)

bow50 763
Accuracy (mean, std): 	 0.7826085868630193 	 0.007017983474590298 	 Time: 29.87270164489746

bow10 1831
Accuracy (mean, std): 	 0.7965305525524955 	 0.006236967864501552 	 Time: 63.206522703170776

bow4 3308
Accuracy (mean, std): 	 0.7948229642201099 	 0.007262804117904638 	 Time: 131.30711364746094

bow6 2468 less keywords
Accuracy (mean, std): 	 0.7973192476637248 	 0.006967339520531227 	 Time: 90.09188580513

bow6 2524 ****
Accuracy (mean, std): 	 0.79758180090992 	 0.005162156369049397 	 Time: 91.41832232475281

---------------------------------------------------------------------------------------------
BASELINE (LOGISTIC)
bow6 2468 less keywords
LogReg: 	 0.7953505728630555 	 0.007375071697568126 	 1.0753509998321533
GaussNB: 	 0.7765652893046869 	 0.007752752191948465 	 1.629063606262207

bow6 2524 ****
LogReg: 	 0.7977138109219735 	 0.007283965030109846 	 1.28202486038208
GaussNB: 	 0.7820821861548245 	 0.007861025134778082 	 1.6394321918487549
----------------------------------------------------------------------------------------------










bow4 3308
Accuracy (mean, std): 	 0.7965312428009246 	 0.004190222934966142 	 Time: 111.60493493080139

bow6 2523
Accuracy (mean, std): 	 0.7950856037473588 	 0.005964143512478991 	 Time: 91.03956484794617



bow50 763
Accuracy (mean, std): 	 0.7819516429206826 	 0.0030442885124632967 	 Time: 26.973907709121704

bow50 763 ***
childweight 1
Accuracy (mean, std): 	 0.7826085868630193 	 0.007017983474590298 	 Time: 27.264161109924316
Accuracy (mean, std): 	 0.7826085868630193 	 0.007017983474590298 	 Time: 27.605652809143066

childweight 0.3
Accuracy (mean, std): 	 0.7819516429206826 	 0.0030442885124632967 	 Time: 28.232868194580078

childweight 1.05










LR 1
Accuracy (mean, std): 	 0.7802442271504042 	 0.006061552898245537 	 Time: 26.913501024246216



bow50 763
childweight 0.9
Accuracy (mean, std): 	 0.7790615727483019 	 0.006078451322764209 	 Time: 28.979228973388672

bow50 763
childweight 0.5
Accuracy (mean, std): 	 0.7801118720141362 	 0.005224360275029057 	 Time: 26.467129468917847


bow50
max depth = 8
subsample = 1
num trees = 500 ***
LR = 0.09 
childweight 0.3
Accuracy (mean, std): 	 0.7831334345122489 	 0.005964375201869254 	 Time: 25.24606442451477
???












subsample 0.8
Accuracy (mean, std): 	 0.780638531565492 	 0.005215272924216514 	 Time: 34.66889023780823

subsample 0.9
Accuracy (mean, std): 	 0.7818210134054873 	 0.0060535225295674155 	 Time: 36.31679177284241


subsample 0.5
Accuracy (mean, std): 	 0.7784057504596623 	 0.006971933383960934 	 Time: 33.80796456336975

max depth 9
Accuracy (mean, std): 	 0.7824782161909848 	 0.006108260640348303 	 Time: 29.901598691940308

max depth 10
Accuracy (mean, std): 	 0.7814267089903995 	 0.006901725527600081 	 Time: 30.63629460334778


max depth 6
Accuracy (mean, std): 	 0.7773544158211843 	 0.0030034197364540087 	 Time: 24.000237703323364

childweight 1.0
Accuracy (mean, std): 	 0.7826085868630193 	 0.007017983474590298 	 Time: 36.45245838165283

childweight 1.5
Accuracy (mean, std): 	 0.7795879734564967 	 0.004598488449643107 	 Time: 32.35452079772949

childweight 0.5
Accuracy (mean, std): 	 0.7828707087039465 	 0.0034842767757680437 	 Time: 27.910074472427368

childweight 0.2
Accuracy (mean, std): 	 0.7802437957451361 	 0.005526690648001363 	 Time: 30.368102312088013

0.4 0.4
Accuracy (mean, std): 	 0.781032318294258 	 0.0059334139590056425 	 Time: 22.983185291290283

0.3 0.3
Accuracy (mean, std): 	 0.7786677860195358 	 0.0037089600465465018 	 Time: 17.562320709228516

0.6 0.6
Accuracy (mean, std): 	 0.7799810699368337 	 0.006548338836523604 	 Time: 37.81432771682739

LR = 0.1
Accuracy (mean, std): 	 0.7802442271504042 	 0.006061552898245537 	 Time: 30.46888256072998

LR = 0.1
num trees = 299
Accuracy (mean, std): 	 0.7772226646522916 	 0.006378765836408972 	 Time: 14.758381128311157

num trees = 400
Accuracy (mean, std): 	 0.7798494913300484 	 0.006691184061090026 	 Time: 20.600470304489136

num trees = 450
Accuracy (mean, std): 	 0.7803752880708679 	 0.007416491878031851 	 Time: 29.42063570022583

num trees = 600
Accuracy (mean, std): 	 0.7799816739042089 	 0.0057243156180794294 	 Time: 30.361640453338623

num trees = 550
Accuracy (mean, std): 	 0.7790617453104091 	 0.005132194436186308 	 Time: 32.23346757888794



num trees = 500 ***
Accuracy (mean, std): 	 0.7802442271504042 	 0.006061552898245537 	 Time: 25.490153551101685

max depth = 6
Accuracy (mean, std): 	 0.7784051464922869 	 0.005124715882035488 	 Time: 23.97200107574463


LR = 0.05
Accuracy (mean, std): 	 0.7734135286966471 	 0.004194577584915988 	 Time: 24.279690265655518

LR = 0.08
Accuracy (mean, std): 	 0.7787985880968383 	 0.006971770408344905 	 Time: 25.92611050605774

LR = 0.12
Accuracy (mean, std): 	 0.7799813287799946 	 0.006924555651711092 	 Time: 35.17358112335205

LR = 0.11
Accuracy (mean, std): 	 0.7794560497254969 	 0.005723770738490586 	 Time: 35.39348387718201

In [165]:
model_xgb.fit(x_train, y_train)

predict_x = model_xgb.predict(x_validation)

predict_round = [round(value) for value in predict_x]
accuracy_x = metrics.accuracy_score(y_validation, predict_x)

print(f'XGBoost Accuracy: {accuracy_x}')

XGBoost Accuracy: 0.8136482939632546

In [167]:
model_xgb = XGBClassifier(colsample_bylevel=0.5, colsample_bytree=0.5, gamma=0, learning_rate=0.35, max_depth=8, min_child_weight=1, n_estimators=299, subsample=1)

model_xgb.fit(x_train, y_train)
predictions = model_xgb.predict(x_validation)

score = metrics.accuracy_score(y_validation, predictions)
matrix = metrics.confusion_matrix(y_validation, predictions)
report = metrics.classification_report(y_validation, predictions)

print('XGBoost')
print(score)
print(matrix)
print(report)

XGBoost
0.8136482939632546
[[385  53]
 [ 89 235]]
              precision    recall  f1-score   support

           0       0.81      0.88      0.84       438
           1       0.82      0.73      0.77       324

    accuracy                           0.81       762
   macro avg       0.81      0.80      0.81       762
weighted avg       0.81      0.81      0.81       762

In [26]:
#model_logreg = linear_model.LogisticRegression(solver='liblinear')
model_logreg = linear_model.LogisticRegression(C=0.27)
model_logreg.fit(x_train, y_train)
predictions = model_logreg.predict(x_validation)

score = metrics.accuracy_score(y_validation, predictions)
matrix = metrics.confusion_matrix(y_validation, predictions)
report = metrics.classification_report(y_validation, predictions)

print('Logistic Regression')
print(score)
print(matrix)
print(report)

Logistic Regression
0.8057742782152231
[[380  58]
 [ 90 234]]
              precision    recall  f1-score   support

           0       0.81      0.87      0.84       438
           1       0.80      0.72      0.76       324

    accuracy                           0.81       762
   macro avg       0.80      0.79      0.80       762
weighted avg       0.81      0.81      0.80       762

### **KAGGLE TEST SET**

In [170]:
df_test = utils.csv_to_dataframe(DATA_FILE_TEST)
df_test.head(3)

,kw_ablaze,kw_accident,kw_aftershock,kw_airplaneaccident,kw_ambulance,kw_annihilated,kw_annihilation,kw_apocalypse,kw_armageddon,kw_army,...,york,young,youth,youtub,yr,zone,û,ûïwhen,ûò,ûó
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [171]:
column_labels = list(range(0, c-1))
df_test.columns = column_labels
df_test.head(3)

,0,1,2,3,4,5,6,7,8,9,...,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [172]:
array_test = df_test.values
x_test = array_test[:,0:c]   # feature values
print(type(x_test))
print(x_test.shape)

<class 'numpy.ndarray'>
(3263, 1830)

### **XGBoost PREDICTIONS**

In [173]:
predict_xgb = model_xgb.predict(x_test)
predict_xgb_round = [round(value) for value in predict_xgb]

In [175]:
predictions_list = predict_xgb_round

print(type(predictions_list))
print(len(predictions_list))
print(predictions_list[0:10])

<class 'list'>
3263
[1, 1, 1, 1, 1, 1, 0, 0, 0, 0]

### **PREPARE SUBMISSION FILE**

In [176]:
DATA_FILE_TEST_ID = os.path.join(DATA_DIR, "test_id.csv")

test_id_list = utils.csv_to_list_of_strings(DATA_FILE_TEST_ID)

print(len(test_id_list))
print(test_id_list[0:10])

3263
['0', '2', '3', '9', '11', '12', '21', '22', '27', '29']

In [177]:
df_test_id = utils.csv_to_dataframe(DATA_FILE_TEST_ID)
df_test_id.head(10)

   id
0   0
1   2
2   3
3   9
4  11
5  12
6  21
7  22
8  27
9  29

In [178]:
#predictions_list = predict_xgb_round

df_test_predict = pd.DataFrame({'col':predictions_list})
df_test_predict.columns = ['target']
df_test_predict.head(10)

   target
0       1
1       1
2       1
3       1
4       1
5       1
6       0
7       0
8       0
9       0

In [179]:
df_submit = pd.concat([df_test_id, df_test_predict], axis=1)
df_submit.head(10)

   id  target
0   0       1
1   2       1
2   3       1
3   9       1
4  11       1
5  12       1
6  21       0
7  22       0
8  27       0
9  29       0

In [181]:
DATA_FILE_SUBMIT = os.path.join(DATA_DIR, "submission.csv")

utils.dataframe_to_csv(df_submit, DATA_FILE_SUBMIT)

RandomF50: 	 0.7746313123789662 	 0.011388966190803968 	 130.13347244262695
RandomF100: 	 0.7797399502032303 	 0.01428373432017802 	 260.8899493217468
AdaBoost: 	 0.7486493158264349 	 0.01133382416557457 	 134.66269183158875
GradBoost: 	 0.74427060500947 	 0.008930998006848264 	 511.60365176200867

LogReg: 	 0.7966734055457427 	 0.014564111747014111 	 1.946577548980713
CART: 	 0.7349288161562852 	 0.01585338019541941 	 227.68402552604675
KNN: 	 0.7296752569640994 	 0.010723464340408816 	 190.6845679283142
GaussNB: 	 0.7050103211253219 	 0.017478735938505296 	 3.0175342559814453
SVM: 	 0.5698452895235258 	 0.019930333240389574 	 1356.988641500473

Random Forest (100 trees)
0.7690288713910761
[[350  88]
 [ 88 236]]
              precision    recall  f1-score   support

           0       0.80      0.80      0.80       438
           1       0.73      0.73      0.73       324

    accuracy                           0.77       762
   macro avg       0.76      0.76      0.76       762
weighted avg       0.77      0.77      0.77       762


Logistic Regression
0.8070866141732284
[[370  68]
 [ 79 245]]
              precision    recall  f1-score   support

           0       0.82      0.84      0.83       438
           1       0.78      0.76      0.77       324

    accuracy                           0.81       762
   macro avg       0.80      0.80      0.80       762
weighted avg       0.81      0.81      0.81       762